@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Mukta Vaani', sans-serif;
}

.block {
    display: block;
}

.wi-alt {
    font-size: 60px;
    color: #8A2BE2;
}

.bulletP {
    list-style-position: inside;
}

.fLeft {
    float: left;
}

.weatherImg {
    height: 200px;
    width: 200px;
    padding: 10px;
}

.centerImg {
    margin:0px auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}